/* cternal */

body {

    padding-bottom: 500px;
}


h3 {
    color: rgb(109, 189, 34); 
    
}

.parametros {
    background-color: black;
    color: aquamarine;
    padding: 5px;
}

#exclusivo {
    background-color: rgb(9, 66, 66);
    color: rgb(37, 163, 163);
    padding: 10px;
}


h2 {
    border-bottom: 2px solid red;

}

.titulo {
    border-bottom: 2px solid blue;
}

.algum-titulo {
    border-bottom: 2px solid indianred;
}

.color-name{
    color: darkslategray;
}

.hex {
    color: #5789;
}

.simplificado {

     color: #aa55fa;
}

.RGB {
        color: rgb(255, 0, 0);
}

.Mix {
     color: rgb(299, 25, 69);
}

.RGBA {
     
    color: rgb(36, 1, 49);
}


.hsl {
    color:hsl(100, 25%, 65%)
}


.bg {
    background-color: #aa55fa;
    color: aquamarine;
}

.Back {
    background-color: rgb(200, 20, 40);
    color: rgb(6, 255, 255);
}

.bg-opacity {
    background-color: burlywood;
    opacity: 0.2;
}

.bg-opacity-2 {

    background-color: #999;
    color: black;
    opacity: 0.8;
}

.rgba-opacity {
      background-color: rgba(90, 120, 20);
       color: #0a0707d8;
}

      /*fundo de Imagens*/
.bg-image {

    background-image: url("../CSS/img/imagen_1.jpg");
    padding: 10px;
    color: #fff;
}

/*Aplicando regra em dois elementos de uma vez*/

.not-centered-bg, 
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("./img/imagen_3fundo.jpg");
}

.cemtered-bg {
    background-position: cover;
}

.height-width {
    height: 200px;
    width: 100px;
    background-color: rgb(83, 3, 59);
}


.height-width-2 {
    height: 300px;
    background-color: #333;
}

.without-padding,
.padding {
    background-color: rgb(27, 37, 37);
    color: aquamarine;
}

.padding {
    padding: 20px;
}


.padding-individual {
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}


.shorthand-padding2 {
    background-color: #555;
    padding: 10px 20px;

}

.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box2 {
     background-color: #666;
       color: #fff;
       width: 400px;
     padding: 50px;
}

.border {
    border: 5px solid red;
    padding: 10px;
}

.border-2 {
    border: 2px dotted #931;
    padding: 25px;
}

.border-left {
    border-left: 3px solid blue;
    background-color: #222;
    padding: 25px;
}

.border-bottom {
      border-bottom: 5px double #399 ;
      background-color: #222;
      padding: 20px;
}

.rounded-p {
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.rounded-2 {
     border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;

}

.margin {
    margin: 10px;
    background-color: #444;
}

.margin-top {
    margin-top: 50px;
    background-color: #222;
    padding: 10px;
}

.margin-shorthand {
    background-color: #666;
    margin: 5px 10px 15px 20px;
}

.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}


.text-aligned {
    text-align: right;
} 

.container-center {
         
       text-align: center;
       width: 300px;
       border: 1px solid red;
}