body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo-principal {
    background-image: url('img/Fundo.3.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    padding: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
  
}

.linha-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}


.work {
    width: 65%;
    padding-right: 20px;
}


.unordered {
    width: 30%;
}


.conteudo-lado-a-lado {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 30px auto;
    gap: 30px;
}

.text {
    width: 50%;
}

.slideshow-container {
    width: 50%;
}

.final-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 40px auto;
   gap: 30px;
}

.content-wrapper {
    width: 50%;
}

.legado {
    width: 50%;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    
}

/*deixa ele um em baixo do outro em telas pequena*/

@media (max-width: 800px) {
    .conteudo-lado-a-lado {
        flex-direction: column;
    }

    .text, 
    .slideshow-container { 
        width: 100%;
    }
}


.fade-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-scroll.ativo {
    opacity: 1;
    transform: translateY(0);

}


.assinatura {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    padding: 20px 0;
}


